.card {
  margin-bottom: 15px;
  border-radius: 8px;
}

.card-header {
  color: #333;
  border-bottom: none;
  background-color: inherit;
  padding: 8px 15px;
  font-size: 20px;
}

.card-header:first-child {
  border-radius: inherit;
}

.card-body {
  padding: 0 15px;
}
